
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: rgb(60, 17, 5);
  background-image: url(../images/glass.jpg);
  background-position: center;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: contain;*/
  padding-left: 10px;
  padding-right: 10px;
}

header {
   background:#A42E12;
   opacity: 0.75;
   /*padding: 10px;*/
   position: fixed;
   width: 100%;
   z-index: 1;
}

header > h1 {
   font-family: 'Bevan', sans-serif;
   float: left;
   padding-left: 30px;
}

nav {
   float: right;
   padding-right: 30px;
}

nav > ul > li {
   display: inline;
   list-style: none;
   padding: 5px;
}

a.nav {
  text-decoration: none;
  color: #F39E2F;
  font-size: 20px;
}

a.nav:hover {
  text-decoration: underline;
}

.main-container {
  margin-top: 10px;
  clear: both;
  padding-top: 85px;
  padding-bottom: 85px;
}

.section-container {
  position: relative;
  padding: 20px;
  background-color: #F39E2F;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #000000;
  opacity: 0.75;
  width: 45%;
  text-align: center;
  margin: 10px;
}

footer {
   clear: both;
   background:#A42E12;
   opacity: 0.75;
   text-align: center;
   padding: 10px;
   width: 100%;
   position:fixed;
  bottom: 0;
  left: 0;
}

img {
   border-radius: 15px;
   padding: 0;
   border: 2px solid #ddd;
   margin: 10px;
}

#my-pic {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.profile-info {
  padding: 10px;
  text-align: left;
}

table {
  margin: auto;
}
td {
  padding: 10px;
}

.left-aligned {
  text-align: left;
}

#email-button {
  background: transparent;
  border: 2px solid black;
  box-shadow: 2px 2px 5px #000000;
}

#email-button:hover {
  color: white;
}

.profile-links {
   transition: all .3s ease;
   color: black;
}

.profile-links:hover {
   transform: scale(2);
}

.profile-links:visited {
  text-decoration:none;
}

button > span {
   font-size: 50px;
}
